<component name="libraryTable">
  <library name="springframework.spring.beans" type="repository">
    <properties maven-id="org.springframework:spring-beans:6.0.9" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/6.0.9/spring-beans-6.0.9.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/6.0.9/spring-core-6.0.9.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/6.0.9/spring-jcl-6.0.9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>